html
{
    height: 100%;
}
body
{
    font-family: Verdana;
    background-color: #AAAAFF;
    text-align: center;
    height: 100%;
    display: flex;
  flex-direction: column;
  margin: 0;
}

/*div
{
    border: solid black 2px;
}*/

#top { border: solid black 2px; }
#app_desc { border: solid black 2px; }
#menu { border: solid black 2px; }
#container { border: solid black 2px; }

#app_title
{
    border: solid black 2px;
    font-size: 50px;
    font-weight: bold;
}

.menu_link
{
    color: green;
    font-weight: bold;
}

#container
{
    flex: 1 0 auto;
}

.footer
{
    flex-shrink: 0;
}

.error
{
    color: red;
}