html { height: 100%; }

body
{
    font-family: Verdana;
    background-color: #AAAAFF;
    text-align: center;
    height: 100%;
    display: flex;
  flex-direction: column;
  margin: 0;
}

#app_desc { border-bottom: solid black 3px; }

#menu
{
    border-bottom: solid black 2px;
}

#container { border-bottom: solid black 2px; }

#app_title
{
    border-bottom: solid black 3px;
    font-size: 50px;
    font-weight: bold;
}

.menu-link
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
}

#container
{
    flex: 1 0 auto;
    height: 100px;
    overflow-y: auto;
}

.footer
{
    flex-shrink: 0;
}

.error
{
    color: red;
}

#title
{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
}

#text
{
    padding: 0 10%;
    text-align: left;
}

.task
{
    width: 80%;
    max-width: 1060px;
    border: solid black 1px;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.task-name-row
{
    height: 50px;
    padding: 3px 10px 0px 10px;
    text-align: left;
}

.task-name
{
    font-size: 30px;
    float: left;
}

.task-status
{
    float: left;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.task-description
{
    padding: 3px 10px 10px 10px;
    text-align: left;
    word-wrap: break-word;
}

.task-info-table-container
{
    padding-bottom: 10px;
    padding-left: 10px;
    float: left;
}

.task-info-table
{
    margin: auto;
    width: 676px;
}

.task-info-table td
{
    border: solid black 2px;
    text-align: center;
    width: 20%;
}

.task-buttons
{
    padding: 3px 10px 0px 10px;
    float: left;
}

.task-more-details-row
{
    padding: 3px 10px 3px 10px;
    clear: both;
}

.task-more-details-button
{
    font-size: 12px;
    text-align: left;
    color: #007bff;
    float: left;
}

.task-edit-button
{
    font-size: 12px;
    color: #007bff;
    float: right;
}

.task-more-details-button:hover
{
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.task-more-details
{
    width: 80%;
    max-width: 1060px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    background-color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 10px 0px 10px;
    display: none;
}

.task-xp-earned
{
    font-weight: bold;
}

#menu-links
{
    float: left;
}

#user
{
    float: right;
}

#user-left
{
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

#photo
{
    float: left;
    width: 50px;
    height: 50px;
}

#nick-and-level
{
    width: 300px;
    height: 25px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#experience-bar
{
    height: 25px;
    position: relative;
}

#progress-text
{
    position: absolute;
    width: 100%;
    z-index: 1;

}

#progress-bar
{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #00FF00;
}

#highscores-table
{
    background-color: white;
    margin: auto;
    table-layout: fixed;
    width: 80%;
}

#highscores-table th, td
{
    text-align: center;
    border: 1px solid black;
}

#highscores-table-div
{
    margin-left: auto;
    margin-right: auto;
}

#th-id
{
    width: 5%;
}

#th-level
{
    width: 10%;
}

#th-experience
{
    width: 30%;
}

.for-clearing
{
    clear: both;
}